html {
	font-size: calc(100vw / 1920 * 10);
	--gap: 4rem;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	overflow-y: hidden;
}

* {
	line-height: 100%;
	box-sizing: border-box;
}

button {
	border: none;
	background: transparent;
}

canvas#sketch {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transition: background-image 1s ease-in-out .5s;
	/* background: #000; */
}

/* ul.btns {
	z-index: 6;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.8svh;
	--offset: -1vw;
	top: 50svh;
	right: 3svw;
	transform: translate(0, -50%);
} */

.btns button {
	width: 6svh;
	height: 6svh;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	transition: background-color 0.2s ease, color 0.2s ease,
		border-color 0.2s ease;
	cursor: pointer;
}

.btns button:hover {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-color: rgba(0, 0, 0, 0.5) !important;
}

li.btns__item:nth-child(odd) {
	transform: translateX(calc(var(--offset) * 2));
}

/* .btns button.active {
	background-color: white;
	color: black;
	pointer-events: none;
} */

ul.btns {
	/* top: auto;
	bottom: 5svh; */
	/* right: auto; */
	left: auto;
	z-index: 6;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* transform: translate(-50%, 0%); */
	/* gap: 0.8svh; */
	gap: 13rem;
	--offset: -1vw;
	margin-top: -20rem;
	/* right: 3svw; */
	/* top: 50svh; */
	/* transform: translate(0, -50%); */
}

.btns button {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9svh;
	height: 9svh;
	background-color: rgba(0, 0, 0, 0.05);
}

.btns button svg {
	height: 2.7rem;
}

.btns button svg path {
	fill: white;
}

.btns button.active {
	background-color: rgba(0, 0, 0, 0.6) !important;
	border-color: rgba(0, 0, 0, 0.5) !important;
}

li.btns__item:nth-child(odd) {
	transform: translateY(calc(var(--offset) * 3));
}

li p {
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.4);
	font-size: 14px;
	font-family: 'Din Regular', sans-serif;
	margin-top: 8px;
}


/* Updated by SuperStar */
[data-current="heart"] {
	/* background-color: #e19800 !important; */
	background-image: url(../images/AthenBackground_01.png);
}

[data-current="codrops"] {
	/* background-color: #00a00b !important; */
	background-image: url(../images/AthenBackground_06.png);
}

[data-current="smile"] {
	/* background-color: #b90000 !important; */
	background-image: url(../images/AthenBackground_03.png);
}


.navbar {
	position: fixed;
	width: 100vw;
	z-index: 2;
	cursor: pointer;
	/* top: var(--gap); */
	/* left: var(--gap); */
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* justify-content: center; */
	padding: var(--gap);
	gap: 4rem;
}

/* .partners__each svg {
	max-height: 2rem;
	width: 11.1rem;
}
.partners__dot {
	width: 0.7rem;
	height: 0.7rem;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
} */

.partners,
.sign {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
}

.logo {
	margin: 2.5rem 1.5rem;
}

.sign a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 20px;
	padding: 0.5rem 1.5rem;
}
.sign a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer !important;
}
.welcome {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	z-index: 2;
	margin-top: -4rem;
}
.left_, .right_ {
	display: flex;
	flex-direction: column;
	padding: 0 10svw;
}
.welcome_title, .welcome_text, .chat_btn_container {
	display: flex;
}
.welcome_title {
	font-size: 6svh;
	line-height: 1.1;
	opacity: 0.4;
}
.welcome_text {
	font-family: 'Din Regular', sans-serif;
	font-size: 6svh;
	line-height: 1.1;
	margin-top: 1svh;
	padding-left: 6rem;
}
.chat_btn_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2svh;
	padding-left: 10em;
}
.dot {
	display: flex;
	width: 0.5rem;
	height: 0.5rem;
	background: white;
}
.chat_btn {
	display: flex;
	font-family: 'Din Regular', sans-serif;
	letter-spacing: 0.5rem;
	color: white;
	padding: 1.2rem 4rem;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 0.5rem;
	border-bottom-right-radius: 2rem;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}
.right_ {
	font-family: 'Din Light', sans-serif;
	font-size: 4svh;
	line-height: 1.1;
	opacity: 0.4;
	margin-left: 4rem;
}
.assist_title, .assist_text {
	display: flex;
}
.assist_text {
	margin-top: 1svh;
}

.source_text {
	position: fixed;
	bottom: 5rem;
	width: 100vw;
	display: flex;
	justify-content: center;
	font-family: 'Din Regular', sans-serif;
	font-size: 12px;
	letter-spacing: 0.2rem;
	color: white;
	opacity: 0.4;
	z-index: 6;
}